.main {
    background-image: url('https://static.independent.co.uk/s3fs-public/thumbnails/image/2015/02/26/12/5799466.jpg');
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    background-attachment: fixed; 
    overflow: hidden;
    
    color: grey; 
    font-family: 'Arial, sans-serif'; 
    font-size: 18px; 
    line-height: 1.6;
    text-align: center;
  
    padding: 100px 0; 
    margin: 0; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
  
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center; 
  
    transition: all 0.3s ease; 
  }